#utilites
numpy
pandas

#Face recognition
face-recognition
face-recognition-models
scikit-learn
dlib-bin
git+https://github.com/ageitgey/face_recognition_models.git
setuptools 

supabase
bcrypt 

segno #QR code generator
pillow

streamlit

librosa
resemblyzer
